@import "tailwindcss";

@theme inline {
  --font-display: var(--font-gambarino) --font-sans: var(--font-raleway);
}

:root {
  --font-raleway: "Raleway", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-gambarino: "Gambarino", Georgia, serif; /* or whatever fallback fits */
}

body {
  font-family: var(--font-raleway);
}

.display-font {
  font-family: var(--font-gambarino);
}
